ORACLE_PDB_SID_PWD=""            # The 26ai SYS/SYSTEM/PDBADMIN password can only include special characters _ # $ but $ has issues in docker.
ORACLE_PDB_LOCAL_PORT=1521
ORACLE_PDB_LOCAL_OEM_PORT=5500
ORACLE_PDB="FREEPDB1"
